@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #f3f4f6;
  /* Gray-100 */
}

/* Hide spin buttons for chrome/safari/edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons for firefox */
input[type=number] {
  -moz-appearance: textfield;
}